.buttons{
  position: absolute;
  top: 12%;
  left: 0%;
   right: 70%; 
}

.button{
  width: 190px;
  height: 50px;
  margin-left:100px;
   margin-top:16px;
  transition: transform 0.3s;
  font-size: 15px;
}

.button:hover {
transform: scale(1.1,1.1)
}

div#box1{
width:	430px;
height:430px;
position:absolute;
top:-410px;
left:573px;
border-style: solid;
border:10px solid blue;
}

div#box2{
width:	430px;
height:430px;
position:absolute;
top:-410px;
left:573px;
border-style: solid;
border:10px solid red;
}

div#box3{
width:	430px;
height:430px;
position:absolute;
top:-410px;
left:573px;
border-style: solid;
border:10px solid white;
}

div#box4{
width:	430px;
height:430px;
position:absolute;
top:-410px;
left:573px;
border-style: solid;
border:10px solid white;
}

div#box5{
width:	430px;
height:430px;
position:absolute;
top:-410px;
left:573px;
border-style: solid;
border:10px solid white;
}

div#box6{
width:	430px;
height:430px;
position:absolute;
top:-410px;
left:573px;
border-style: solid;
border:10px solid white;
}

div#box7{
width:	430px;
height:430px;
position:absolute;
top:-410px;
left:573px;
border-style: solid;
border:10px solid white;
}

